/* #container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
} */

.header {
    display: flex;
    width: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
    border: 1px outset rgb(209, 255, 165);
    border-width: 1rem;
}

.whatever {
    display: flex;
    border: 1px outset rgb(209, 255, 165);
    background-color: rgb(59, 117, 0);
    border-width: .25rem;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin: 2rem;
    width: 79%;
}

.headTwo {
    display: flex;
    justify-content: center;
    font-family: "Patua One", serif;
    padding-bottom: 0em;
}

.marquee {
    display: flex;
    margin-top: .5rem;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding: 1em;
    padding-top: 0em;
    justify-content: space-between;

}

/* .logo {
    max-height: 4rem; 
} */

/* .title {
    text-align: center;
    margin: 1rem 0 3rem 2rem;
} */

.services {
    display: inline-flex;
    padding-bottom: 1em;
    text-align: center;
}


.guests {
  float: right;
  margin-right: 5rem;
  border: 1px dotted rgb(209, 255, 165);
  background-color: rgb(59, 117, 0);
  border-width: .25rem;
  padding: 1em;
  padding-top: 1em;
  padding-right: 2em;
}

.details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.detail--column {
    height: 15rem;
    margin-bottom: 1rem;
    padding-bottom: .75rem;
    flex-basis: 24%;
    background-color: rgb(59, 117, 0);
    border: 1px inset rgb(209, 255, 165);
    border-width: .25rem;
}

#section--5, #section--1, #section--2, #section--3, #section--4, #section--6 {
    margin-left: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
}

.contact {
    padding: 2rem;
    padding-top: 1rem;
    flex-direction: column;
    border: 1px outset rgb(209, 255, 165);
    background-color: rgb(59, 117, 0);
    border-width: .25rem;
    width: fit-content;
}

