.header {
    display: flex;
    width: fit-content;
    margin-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
    border: 1px outset rgb(171, 250, 97);
}

.logo {
    max-height: 4rem;
}

.title {
    text-align: center;
    margin: 1rem 0 3rem 2rem;
}

.guests {
  float: right;
  display: inline;
  border: 1px dotted rgb(171, 250, 97);
  background-color: rgb(59, 117, 0);
  padding: 5em;
  padding-top: 1em;
  padding-bottom: 25em;
  margin-right: 10em;
}

.details {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.detail--column {
    flex-basis: 24%;
    background-color: rgb(59, 117, 0);
    flex-wrap: wrap;
    margin: 0 2rem;
    padding: 0.5rem 4rem;
    border: 1px dotted rgb(171, 250, 97);
}

.contact {
    text-align: start;
    border: 1px outset rgb(171, 250, 97);
    background-color: rgb(59, 117, 0);
    width: fit-content;
    padding: 1rem;
    justify-content: center;
}

